@import '../../media_query_mixins.scss';


.aboutContainer {
    height: 50%;
    overflow-x: hidden;

    .phraseContainer,
    .aboutContainer {
        height: 100%;
        padding: 0;
        display: inline-block
    }

    .aboutContainer {
        padding-top: 5%;

        .aboutText {
            padding: 0;
            font-family: 'Satisfy', cursive;
            margin-bottom: 5px;
            border-bottom: 1px solid blue;
            -webkit-box-shadow: 0 1px 0 0 rgb(0, 136, 255);
            -moz-box-shadow: 0 1px 0 0 rgb(0, 123, 255);
            box-shadow: 0 1px 0 0 rgb(35, 75, 162);
            width: 40%;
        }

        @include navBar{
            .aboutText {
                padding: 0;
                font-family: 'Satisfy', cursive;
                margin-bottom: 5px;
                border-bottom: 1px solid blue;
                -webkit-box-shadow: 0 1px 0 0 rgb(0, 136, 255);
                -moz-box-shadow: 0 1px 0 0 rgb(0, 123, 255);
                box-shadow: 0 1px 0 0 rgb(35, 75, 162);
                width: 100%;
            }
        }

        .aboutUs {
            font-family: 'Muli', sans-serif;
            color: rgb(84, 84, 84);
            padding: 2% 2% 2% 0;

        }
    }
}