.contactContainer {
    height:auto;
    display: flex;
    position:relative;

    INPUT,TEXTAREA {
        border-top: thin solid #aaa
        }

    .formContainer{
        // background-color:red;
        height:100%;
    }

    .contactInfoContainer{
        height:100%;
    }

    .contactMargin{
        margin-top:10%;
    }

    .contactTitle{
        padding: 10% 0 0 0;
        font-family: 'Satisfy', cursive;
        margin-bottom: 5px;
        border-bottom: 1px solid blue;
        border-right: none;
        -webkit-box-shadow: 0 1px 0 0 rgb(0, 136, 255);
        -moz-box-shadow: 0 1px 0 0 rgb(0, 123, 255);
        box-shadow: 0 0 0 0 rgb(35, 75, 162);
        width: 20%;
    }

    .inputText{
        height: 40px;
        margin: 10px 0;
    }

    .inputMsg{
        padding-right:10px;
        height:200px;
    }

    .contactInfoContainer{
        
        .contactTitle{
            padding: 10% 0 0 0;
            font-family: 'Satisfy', cursive;
            margin-bottom: 5px;
            border-bottom: 1px solid blue;
            border-right: none;
            -webkit-box-shadow: 0 1px 0 0 rgb(0, 136, 255);
            -moz-box-shadow: 0 1px 0 0 rgb(0, 123, 255);
            box-shadow: 0 0 0 0 rgb(35, 75, 162);
            width: 30%;
        }
        .contactInfoText{
            font-family: 'Muli', sans-serif;
            color: rgb(55, 55, 55);
        }
    }
    
}